<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>connexion</title>
    <link rel="stylesheet" href="../asset/css/style.css" />
    <link rel="stylesheet" href="../asset/css/connexion.css" />
  </head>
  <body>
    <section class="header">
      <div class="barre-nav">
        <div>
          <a href="../index.html"
            ><img src="../asset/img/BOOK &co (10).png" alt="logo" width="150px"
          /></a>
        </div>
        <div class="barre-nav-link">
          <a href="">Espace Chauffeurs</a>
          <a href="">Espace Hôtels</a>
          <a href="connexion.html">Connexion</a>
          <a href="view/reservation.html">Reservation</a>
        </div>
        <div class="menu-burger">
          <img src="../asset/img/BOOK &co (13).png" alt="" />
        </div>
      </div>
      <div class="accroche">
        <h2>simplifiez votre journée en vous inscrivant</h2>
        <p>Votre emploi du temps orgarnisé en automatique</p>
      </div>
    </section>
    <div class="title-form">
      <h1>Inscription</h1>
    </div>
    <section class="form-custom">
      <form action="" class="form">
        <div class="input-parent">
          <div>
            <label for="full-name">Nom / Prénom</label>
          </div>
          <div>
            <input type="text" id="full-name" placeholder="nom / prenom" />
          </div>
        </div>
        <div class="input-parent">
          <div>
            <label for="mail">E-mail</label>
          </div>
          <div>
            <input type="email" placeholder="Entrez votre adresse mail" />
          </div>
        </div>
        <div class="input-parent">
          <div>
            <label for="number">Numéro de téléphone</label>
          </div>
          <div><input type="tel" placeholder="numéro de téléphone" /></div>
        </div>
        <div class="input-parent">
          <div>
            <label for="passeword">Mot de passe</label>
          </div>
          <div><input type="password" placeholder="mot de passe" /></div>
        </div>
        <div class="input-parent">
          <div>
            <label for="passeword-confirmed">Confirmez votre passe</label>
          </div>
          <div>
            <input type="password" placeholder="confirmez votre mot de passe" />
          </div>
        </div>
        <div>
          <button class="btn-form">Inscrivez-vous</button>
        </div>
        <div class="link-log-in">
          <div>
            <p>Vous avez déjà un compte ?</p>
          </div>
          <div>
            <a href="connexion.html">Connectez-vous</a>
          </div>
        </div>
      </form>
    </section>
  </body>
</html>
