<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/reservation.css">
</head>
<body>
    <section class="barre-nav">
        <div class="barre-nav-link">
          <a href="index.html">Book &co.</a>
          <div>
            <a href="">Espace Chauffeurs</a>
            <a href="">Espace Hôtels</a>
            <a href="../view/connexion.html">Inscription</a>
            <a href="../view/reservation.html">Reservation</a>
          </div>
        </div>
      </section>
    <form action="">
        <div>
            <input type="text" placeholder="nom / prenom">
        </div>
        <div>
            <input type="tel" placeholder="numéro de téléphone">
        </div>
        <div>
            <input type="text" placeholder="nb de personne">
        </div>
        <div>
            <input type="text" placeholder="aeroport">
        </div>
        <div>
            <input type="text" placeholder="termimal">
        </div>
        <div>
            
        </div>
    </form>  
</body>
</html>